.intro__list {
  margin-left: 0;
  padding-left: 0;
  padding-top: 33px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 690px;
  height: 90px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .intro__list {
    width: 720px;
    height: 90px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    width: 288px;
    height: 90px;
  }
}