.place__main-text_paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  width: 484px;
  margin: 0;
  padding-bottom: 26px;
}

.place__main-text_paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) and(max-width: 1279px) {
  .place__main-text_paragraph {
    width: 456px;
    padding-bottom: 27px;
  }

  .place__main-text_paragraph:last-child {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and(max-width: 1023px) {
  .place__main-text_paragraph {
    width: 352px;
    padding-bottom: 25px;
    line-height: 26.08px;
  }

  .place__main-text_paragraph:last-child {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__main-text_paragraph {
    font-size: 16px;
    width: 288px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 16px;
  }
}