.footer__links {
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links {
        width: 186px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}