.place {
    width: 984px;
    min-height: 660px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-rows: 152px 460px;
    column-gap: 40px;
    row-gap: 48px;
   
}

@media screen and (max-width: 1024px) {
    .place {
        width: 928px;
        min-height: 640px;
        row-gap: 48px;
        column-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        grid-template-rows: 152px 440px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 720px;
        min-height: 535px;
        grid-template-columns: 340px 352px;
        grid-template-rows: 46px minmax(430px, 1fr);
        column-gap: 28px;
        row-gap: 48px;
    }
    
  }

  @media screen and (max-width: 320px) {
    .place {
        width: 320px;
        min-height: 1042px;
        grid-template-columns: 320px;
        grid-template-rows: repeat(4, auto);
        row-gap: 32px;  
        padding-bottom: 50px;
    }
}