.intro__title {
  font-weight: 900px;
  font-size: 54px;
  line-height: 58px;
  margin: auto;
  width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    width: 720px;
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 270px;
    font-size: 32px;
    line-height: 35px;
  }
}